In [2]:
import quandl

In [3]:
import pandas as pd

In [6]:
fiddy_states = pd.read_html('https://simple.wikipedia.org/wiki/List_of_U.S._states')

In [7]:
#This is a list
print(fiddy_states)

[    Name &postal abbreviation[1]                                 \
    Name &postal abbreviation[1] Name &postal abbreviation[1].1
0                        Alabama                             AL
1                         Alaska                             AK
2                        Arizona                             AZ
3                       Arkansas                             AR
4                     California                             CA
5                       Colorado                             CO
6                    Connecticut                             CT
7                       Delaware                             DE
8                        Florida                             FL
9                        Georgia                             GA
10                        Hawaii                             HI
11                         Idaho                             ID
12                      Illinois                             IL
13                       Indiana                             IN
14                          Iowa                             IA
15                        Kansas                             KS
16       Kentucky[upper-alpha 3]                             KY
17                     Louisiana                             LA
18                         Maine                             ME
19                      Maryland                             MD
20  Massachusetts[upper-alpha 3]                             MA
21                      Michigan                             MI
22                     Minnesota                             MN
23                   Mississippi                             MS
24                      Missouri                             MO
25                       Montana                             MT
26                      Nebraska                             NE
27                        Nevada                             NV
28                 New Hampshire                             NH
29                    New Jersey                             NJ
30                    New Mexico                             NM
31                      New York                             NY
32                North Carolina                             NC
33                  North Dakota                             ND
34                          Ohio                             OH
35                      Oklahoma                             OK
36                        Oregon                             OR
37   Pennsylvania[upper-alpha 3]                             PA
38   Rhode Island[upper-alpha 4]                             RI
39                South Carolina                             SC
40                  South Dakota                             SD
41                     Tennessee                             TN
42                         Texas                             TX
43                          Utah                             UT
44                       Vermont                             VT
45       Virginia[upper-alpha 3]                             VA
46                    Washington                             WA
47                 West Virginia                             WV
48                     Wisconsin                             WI
49                       Wyoming                             WY

            Cities                 Established[upper-alpha 1]  \
           Capital      Largest[5] Established[upper-alpha 1]
0       Montgomery      Birmingham               Dec 14, 1819
1           Juneau       Anchorage                Jan 3, 1959
2          Phoenix         Phoenix               Feb 14, 1912
3      Little Rock     Little Rock               Jun 15, 1836
4       Sacramento     Los Angeles                Sep 9, 1850
5           Denver          Denver                Aug 1, 1876
6         Hartford      Bridgeport                Jan 9, 1788
7            Dover      Wilmington                Dec 7, 1787
8      Tallahassee    Jacksonville                Mar 3, 1845
9          Atlanta         Atlanta                Jan 2, 1788
10        Honolulu        Honolulu               Aug 21, 1959
11           Boise           Boise                Jul 3, 1890
12     Springfield         Chicago                Dec 3, 1818
13    Indianapolis    Indianapolis               Dec 11, 1816
14      Des Moines      Des Moines               Dec 28, 1846
15          Topeka         Wichita               Jan 29, 1861
16       Frankfort      Louisville                Jun 1, 1792
17     Baton Rouge     New Orleans               Apr 30, 1812
18         Augusta        Portland               Mar 15, 1820
19       Annapolis       Baltimore               Apr 28, 1788
20          Boston          Boston                Feb 6, 1788
21         Lansing         Detroit               Jan 26, 1837
22        St. Paul     Minneapolis               May 11, 1858
23         Jackson         Jackson               Dec 10, 1817
24  Jefferson City     Kansas City               Aug 10, 1821
25          Helena        Billings                Nov 8, 1889
26         Lincoln           Omaha                Mar 1, 1867
27     Carson City       Las Vegas               Oct 31, 1864
28         Concord      Manchester               Jun 21, 1788
29         Trenton          Newark               Dec 18, 1787
30        Santa Fe     Albuquerque                Jan 6, 1912
31          Albany        New York               Jul 26, 1788
32         Raleigh       Charlotte               Nov 21, 1789
33        Bismarck           Fargo                Nov 2, 1889
34        Columbus        Columbus                Mar 1, 1803
35   Oklahoma City   Oklahoma City               Nov 16, 1907
36           Salem        Portland               Feb 14, 1859
37      Harrisburg    Philadelphia               Dec 12, 1787
38      Providence      Providence               May 29, 1790
39        Columbia      Charleston               May 23, 1788
40          Pierre     Sioux Falls                Nov 2, 1889
41       Nashville       Nashville                Jun 1, 1796
42          Austin         Houston               Dec 29, 1845
43  Salt Lake City  Salt Lake City                Jan 4, 1896
44      Montpelier      Burlington                Mar 4, 1791
45        Richmond  Virginia Beach               Jun 25, 1788
46         Olympia         Seattle               Nov 11, 1889
47      Charleston      Charleston               Jun 20, 1863
48         Madison       Milwaukee               May 29, 1848
49        Cheyenne        Cheyenne               Jul 10, 1890

   Population[upper-alpha 2][3] Total area[4]          Land area[4]           \
   Population[upper-alpha 2][3]           mi2      km2          mi2      km2
0                       4903185         52420   135767        50645   131171
1                        731545        665384  1723337       570641  1477953
2                       7278717        113990   295234       113594   294207
3                       3017804         53179   137732        52035   134771
4                      39512223        163695   423967       155779   403466
5                       5758736        104094   269601       103642   268431
6                       3565278          5543    14357         4842    12542
7                        973764          2489     6446         1949     5047
8                      21477737         65758   170312        53625   138887
9                      10617423         59425   153910        57513   148959
10                      1415872         10932    28313         6423    16635
11                      1787065         83569   216443        82643   214045
12                     12671821         57914   149995        55519   143793
13                      6732219         36420    94326        35826    92789
14                      3155070         56273   145746        55857   144669
15                      2913314         82278   213100        81759   211754
16                      4467673         40408   104656        39486   102269
17                      4648794         52378   135659        43204   111898
18                      1344212         35380    91633        30843    79883
19                      6045680         12406    32131         9707    25142
20                      6892503         10554    27336         7800    20202
21                      9986857         96714   250487        56539   146435
22                      5639632         86936   225163        79627   206232
23                      2976149         48432   125438        46923   121531
24                      6137428         69707   180540        68742   178040
25                      1068778        147040   380831       145546   376962
26                      1934408         77348   200330        76824   198974
27                      3080156        110572   286380       109781   284332
28                      1359711          9349    24214         8953    23187
29                      8882190          8723    22591         7354    19047
30                      2096829        121590   314917       121298   314161
31                     19453561         54555   141297        47126   122057
32                     10488084         53819   139391        48618   125920
33                       762062         70698   183108        69001   178711
34                     11689100         44826   116098        40861   105829
35                      3956971         69899   181037        68595   177660
36                      4217737         98379   254799        95988   248608
37                     12801989         46054   119280        44743   115883
38                      1059361          1545     4001         1034     2678
39                      5148714         32020    82933        30061    77857
40                       884659         77116   199729        75811   196350
41                      6829174         42144   109153        41235   106798
42                     28995881        268596   695662       261232   676587
43                      3205958         84897   219882        82170   212818
44                       623989          9616    24906         9217    23871
45                      8535519         42775   110787        39490   102279
46                      7614893         71298   184661        66456   172119
47                      1792147         24230    62756        24038    62259
48                      5822434         65496   169635        54158   140268
49                       578759         97813   253335        97093   251470

   Water area[4]         Numberof Reps.
             mi2     km2 Numberof Reps.
0           1775    4597              7
1          94743  245384              1
2            396    1026              9
3           1143    2961              4
4           7916   20501             53
5            452    1170              7
6            701    1816              5
7            540    1399              1
8          12133   31424             27
9           1912    4951             14
10          4509   11678              2
11           926    2398              2
12          2395    6202             18
13           593    1537              9
14           416    1077              4
15           520    1346              4
16           921    2387              6
17          9174   23761              6
18          4537   11750              2
19          2699    6990              8
20          2754    7134              9
21         40175  104052             14
22          7309   18930              8
23          1508    3907              4
24           965    2501              8
25          1494    3869              1
26           524    1356              3
27           791    2048              4
28           397    1027              2
29          1368    3544             12
30           292     757              3
31          7429   19240             27
32          5201   13471             13
33          1698    4397              1
34          3965   10269             16
35          1304    3377              5
36          2391    6191              5
37          1312    3397             18
38           511    1324              2
39          1960    5076              7
40          1305    3379              1
41           909    2355              9
42          7365   19075             36
43          2727    7064              4
44           400    1035              1
45          3285    8508             11
46          4842   12542             10
47           192     497              3
48         11339   29367              8
49           720    1864              1  ]

In [8]:
#This is a dataframe
print(fiddy_states[0])

    Name &postal abbreviation[1]                                 \
    Name &postal abbreviation[1] Name &postal abbreviation[1].1
0                        Alabama                             AL
1                         Alaska                             AK
2                        Arizona                             AZ
3                       Arkansas                             AR
4                     California                             CA
5                       Colorado                             CO
6                    Connecticut                             CT
7                       Delaware                             DE
8                        Florida                             FL
9                        Georgia                             GA
10                        Hawaii                             HI
11                         Idaho                             ID
12                      Illinois                             IL
13                       Indiana                             IN
14                          Iowa                             IA
15                        Kansas                             KS
16       Kentucky[upper-alpha 3]                             KY
17                     Louisiana                             LA
18                         Maine                             ME
19                      Maryland                             MD
20  Massachusetts[upper-alpha 3]                             MA
21                      Michigan                             MI
22                     Minnesota                             MN
23                   Mississippi                             MS
24                      Missouri                             MO
25                       Montana                             MT
26                      Nebraska                             NE
27                        Nevada                             NV
28                 New Hampshire                             NH
29                    New Jersey                             NJ
30                    New Mexico                             NM
31                      New York                             NY
32                North Carolina                             NC
33                  North Dakota                             ND
34                          Ohio                             OH
35                      Oklahoma                             OK
36                        Oregon                             OR
37   Pennsylvania[upper-alpha 3]                             PA
38   Rhode Island[upper-alpha 4]                             RI
39                South Carolina                             SC
40                  South Dakota                             SD
41                     Tennessee                             TN
42                         Texas                             TX
43                          Utah                             UT
44                       Vermont                             VT
45       Virginia[upper-alpha 3]                             VA
46                    Washington                             WA
47                 West Virginia                             WV
48                     Wisconsin                             WI
49                       Wyoming                             WY

            Cities                 Established[upper-alpha 1]  \
           Capital      Largest[5] Established[upper-alpha 1]
0       Montgomery      Birmingham               Dec 14, 1819
1           Juneau       Anchorage                Jan 3, 1959
2          Phoenix         Phoenix               Feb 14, 1912
3      Little Rock     Little Rock               Jun 15, 1836
4       Sacramento     Los Angeles                Sep 9, 1850
5           Denver          Denver                Aug 1, 1876
6         Hartford      Bridgeport                Jan 9, 1788
7            Dover      Wilmington                Dec 7, 1787
8      Tallahassee    Jacksonville                Mar 3, 1845
9          Atlanta         Atlanta                Jan 2, 1788
10        Honolulu        Honolulu               Aug 21, 1959
11           Boise           Boise                Jul 3, 1890
12     Springfield         Chicago                Dec 3, 1818
13    Indianapolis    Indianapolis               Dec 11, 1816
14      Des Moines      Des Moines               Dec 28, 1846
15          Topeka         Wichita               Jan 29, 1861
16       Frankfort      Louisville                Jun 1, 1792
17     Baton Rouge     New Orleans               Apr 30, 1812
18         Augusta        Portland               Mar 15, 1820
19       Annapolis       Baltimore               Apr 28, 1788
20          Boston          Boston                Feb 6, 1788
21         Lansing         Detroit               Jan 26, 1837
22        St. Paul     Minneapolis               May 11, 1858
23         Jackson         Jackson               Dec 10, 1817
24  Jefferson City     Kansas City               Aug 10, 1821
25          Helena        Billings                Nov 8, 1889
26         Lincoln           Omaha                Mar 1, 1867
27     Carson City       Las Vegas               Oct 31, 1864
28         Concord      Manchester               Jun 21, 1788
29         Trenton          Newark               Dec 18, 1787
30        Santa Fe     Albuquerque                Jan 6, 1912
31          Albany        New York               Jul 26, 1788
32         Raleigh       Charlotte               Nov 21, 1789
33        Bismarck           Fargo                Nov 2, 1889
34        Columbus        Columbus                Mar 1, 1803
35   Oklahoma City   Oklahoma City               Nov 16, 1907
36           Salem        Portland               Feb 14, 1859
37      Harrisburg    Philadelphia               Dec 12, 1787
38      Providence      Providence               May 29, 1790
39        Columbia      Charleston               May 23, 1788
40          Pierre     Sioux Falls                Nov 2, 1889
41       Nashville       Nashville                Jun 1, 1796
42          Austin         Houston               Dec 29, 1845
43  Salt Lake City  Salt Lake City                Jan 4, 1896
44      Montpelier      Burlington                Mar 4, 1791
45        Richmond  Virginia Beach               Jun 25, 1788
46         Olympia         Seattle               Nov 11, 1889
47      Charleston      Charleston               Jun 20, 1863
48         Madison       Milwaukee               May 29, 1848
49        Cheyenne        Cheyenne               Jul 10, 1890

   Population[upper-alpha 2][3] Total area[4]          Land area[4]           \
   Population[upper-alpha 2][3]           mi2      km2          mi2      km2
0                       4903185         52420   135767        50645   131171
1                        731545        665384  1723337       570641  1477953
2                       7278717        113990   295234       113594   294207
3                       3017804         53179   137732        52035   134771
4                      39512223        163695   423967       155779   403466
5                       5758736        104094   269601       103642   268431
6                       3565278          5543    14357         4842    12542
7                        973764          2489     6446         1949     5047
8                      21477737         65758   170312        53625   138887
9                      10617423         59425   153910        57513   148959
10                      1415872         10932    28313         6423    16635
11                      1787065         83569   216443        82643   214045
12                     12671821         57914   149995        55519   143793
13                      6732219         36420    94326        35826    92789
14                      3155070         56273   145746        55857   144669
15                      2913314         82278   213100        81759   211754
16                      4467673         40408   104656        39486   102269
17                      4648794         52378   135659        43204   111898
18                      1344212         35380    91633        30843    79883
19                      6045680         12406    32131         9707    25142
20                      6892503         10554    27336         7800    20202
21                      9986857         96714   250487        56539   146435
22                      5639632         86936   225163        79627   206232
23                      2976149         48432   125438        46923   121531
24                      6137428         69707   180540        68742   178040
25                      1068778        147040   380831       145546   376962
26                      1934408         77348   200330        76824   198974
27                      3080156        110572   286380       109781   284332
28                      1359711          9349    24214         8953    23187
29                      8882190          8723    22591         7354    19047
30                      2096829        121590   314917       121298   314161
31                     19453561         54555   141297        47126   122057
32                     10488084         53819   139391        48618   125920
33                       762062         70698   183108        69001   178711
34                     11689100         44826   116098        40861   105829
35                      3956971         69899   181037        68595   177660
36                      4217737         98379   254799        95988   248608
37                     12801989         46054   119280        44743   115883
38                      1059361          1545     4001         1034     2678
39                      5148714         32020    82933        30061    77857
40                       884659         77116   199729        75811   196350
41                      6829174         42144   109153        41235   106798
42                     28995881        268596   695662       261232   676587
43                      3205958         84897   219882        82170   212818
44                       623989          9616    24906         9217    23871
45                      8535519         42775   110787        39490   102279
46                      7614893         71298   184661        66456   172119
47                      1792147         24230    62756        24038    62259
48                      5822434         65496   169635        54158   140268
49                       578759         97813   253335        97093   251470

   Water area[4]         Numberof Reps.
             mi2     km2 Numberof Reps.
0           1775    4597              7
1          94743  245384              1
2            396    1026              9
3           1143    2961              4
4           7916   20501             53
5            452    1170              7
6            701    1816              5
7            540    1399              1
8          12133   31424             27
9           1912    4951             14
10          4509   11678              2
11           926    2398              2
12          2395    6202             18
13           593    1537              9
14           416    1077              4
15           520    1346              4
16           921    2387              6
17          9174   23761              6
18          4537   11750              2
19          2699    6990              8
20          2754    7134              9
21         40175  104052             14
22          7309   18930              8
23          1508    3907              4
24           965    2501              8
25          1494    3869              1
26           524    1356              3
27           791    2048              4
28           397    1027              2
29          1368    3544             12
30           292     757              3
31          7429   19240             27
32          5201   13471             13
33          1698    4397              1
34          3965   10269             16
35          1304    3377              5
36          2391    6191              5
37          1312    3397             18
38           511    1324              2
39          1960    5076              7
40          1305    3379              1
41           909    2355              9
42          7365   19075             36
43          2727    7064              4
44           400    1035              1
45          3285    8508             11
46          4842   12542             10
47           192     497              3
48         11339   29367              8
49           720    1864              1